html {
    height: 100%;
}

header {
    text-align: right;
    padding: 10px 50px 10px 44px;
    border-bottom: 1px solid #dee2e6;
    flex-shrink: 0;
}

footer {
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top: 1px solid #dee2e6;
    flex-shrink: 0; /* prevents footer from shrinking */
    margin-top: auto; /* pushes footer to bottom */
}

a {
    color: #007bff;
}

.body-content {
    text-align: center;
    padding: 10px 50px 50px 50px;
    flex: 1;
}
/*background to be added in the future*/
/*body {*/
/*    background-image: url('../images/background.jpg');*/
/*    background-size: cover;     !* makes it fill the screen *!*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-attachment: fixed; !* keeps background fixed when scrolling *!*/
/*    min-height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0;*/
/*}*/


.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
}
.map-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.map-container {
    height: 600px;
    width: 80%;
    max-width: 1200px;
}


.header {
    display: table-header-group;
    font-weight: bold;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
}

.margin12 {
    margin: 12px 0px 12px 0px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    margin: 12px 0px 12px 0px;
    width: 200px;
    height: 25px;
}

.form-error {
    color: #dc3545;
}

.btn-primary {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 30px;
}

.btn-danger {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 30px;
}

a.nav {
    margin: 6px 6px 6px 6px;
}

.label-error {
    color: red
}
.popup-link {
    color: #0645AD;              /* normal hyperlink blue */
    text-decoration: underline;
    font-weight: 500;
}

.popup-link:hover {
    color: #003d80;
}
