<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/PageLayout :: head('Login')}">
    <title>Login</title>
</head>
<body>
<form th:replace="~{fragments/PageLayout.html :: header}"></form>
<div class="body-content">
    <h2>Admin View</h2>
    <div th:if="${diveSites.isEmpty()}">
        <h2 th:text="#{diveSites.title.empty}">No dive sites to review</h2>
    </div>
    <div th:unless="${diveSites.isEmpty()}">
        <h2 th:text="#{diveSites.title}">All dive Sites</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell" th:text="#{diveSite.label.name}">Name</div>
                <div class="header-cell" th:text="#{diveSite.siteDescription}">Description</div>

            </div>
            <div class="row" th:each="diveSite : ${diveSites}">
                <div class="cell">
                    <a href="#" th:href="@{/sites/{id}(id=${diveSite.id})}" th:text="${diveSite.description}">Dive site</a>
                </div>
                <div class="cell" th:text="${diveSite.description}">Description</div>
                <div class="cell">
                    <form th:action="@{/admin/{id}/approve(id=${diveSite.id})}" method="post"
                          th:if="${session.currentUser != null and session.isAdmin and not diveSite.approved}">
                        <input type="hidden" name="_method" value="put" />
                        <button type="submit">Approve</button>
                    </form>
                    <span th:if="${diveSite.approved}" th:text="#{diveSite.status.approved}">Approved</span>
                </div>
            </div>
        </div>
    </div>
</div>

<form th:replace="~{fragments/PageLayout.html :: footer}"></form>
</body>
</html>