<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/PageLayout.html :: head('Dive Site')}"></head>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<body>

<div th:replace="~{fragments/PageLayout.html :: header}"></div>

<div class="body-content">

    <h2 th:text="#{diveSite.title}">Dive Site</h2>

    <div style="text-align: left;">
        <p class="margin12">
            <b th:text="#{diveSite.siteName} + ': '"></b>
            <span th:text="${diveSite.siteName}"></span>
        </p>

        <p class="margin12">
            <b th:text="#{diveSite.siteDescription} + ': '"></b>
            <span th:text="${diveSite.description}"></span>
        </p>
    </div>

    <!-- Map container -->
    <div class="map-wrapper">
        <div id="map" class="map-container"></div>
    </div>

    <!-- Map initialization -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        const lat = /*[[${diveSite.latitude}]]*/ 0;
        const lon = /*[[${diveSite.longitude}]]*/ 0;
        const name = /*[[${diveSite.siteName}]]*/ 'Unknown site';
        const desc = /*[[${diveSite.description}]]*/ '';

        const map = L.map('map').setView([lat, lon], 11);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
        }).addTo(map);

        L.marker([lat, lon])
            .addTo(map)
            .bindPopup(`<b>${name}</b><br>${desc}`);

        /*]]>*/
    </script>

</div>

<div th:replace="~{fragments/PageLayout.html :: footer}"></div>

</body>
</html>