<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterView</title>
    <form th:replace="~{fragments/PageLayout.html :: head('Home')}"></form>

</head>
<body>
<form th:replace="~{fragments/PageLayout.html :: header}"></form>
<div class="body-content">
    <h2>Login Page</h2>
    <form th:action="@{/auth/register}" th:object="${register}" method="post">
        <label>Email:</label>
        <br>
        <input type="text" th:field="*{email}"/>
        <label class="label-error" th:errors="*{email}">Error placeholder </label>
        <br>
        <label>Password</label>
        <br>
        <input type="password" th:field="*{password}"/>
        <label class="label-error" th:errors="*{password}">Error placeholder </label>
        <br><br>
        <label>Confirm Password</label>
        <br>
        <input type="password" th:field="*{passwordConfirm}"/>
        <label class="label-error" th:errors="*{passwordConfirm}">Error placeholder </label>
        <br><br>
        <label>First Name</label>
        <br>
        <input type="text" th:field="*{firstName}"/>
        <label class="label-error" th:errors="*{firstName}">Error placeholder </label>
        <br><br>
        <label>Last Name</label>
        <br>
        <input type="text" th:field="*{lastName}"/>
        <label class="label-error" th:errors="*{lastName}">Error placeholder </label>
        <br><br>
        <input type="submit" value="Register"/>

    </form>
</div>

<form th:replace="~{fragments/PageLayout.html :: footer}"></form>
</body>
</html>